.leadingArticle {
  display: grid;
  grid-template-rows: 19.4rem 9.4rem 8rem auto;

  .image {
    .desktop {
      display: none;
      width: 730px;
      height: 300px;
      object-fit: contain;
    }

    .mobile {
      width: 343px;
      height: 300px;
      object-fit: contain;
      object-position: top;
    }
  }

  .headline {
    margin-top: 1rem;
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 0;
    grid-row: 2;
  }

  .summary {
    p {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26px;
      color: var(--color-neutral-dark-grayish-blue);
    }

    .readMore {
      margin-top: 1.5rem;
    }
  }

  @media (min-width: 1440px) {
    grid-template-rows: 300px auto;
    grid-template-columns: 3.5fr 5fr;
    grid-row-gap: 1.3rem;

    .image {
      grid-column: span 2;
      .desktop {
        display: block;
      }

      .mobile {
        display: none;
      }
    }

    .headline {
      grid-row: 2;
      font-size: 56px;
      line-height: 56px;
      font-weight: 800;
    }

    .summary {
      padding-left: 5rem;
      padding-top: 0.7rem;

      p {
        line-height: 1.5rem;
      }

      .readMore {
        margin-top: 2.2rem;
      }
    }
  }
}
