.newArticles {
  background-color: var(--color-neutral-very-dark-blue);
  padding: 1.6rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .heading {
    color: var(--color-primary-soft-orange);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0;
  }

  .articles {
    list-style: none;
    padding: 0;
    color: var(--color-neutral-off-white);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    li {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--color-neutral-dark-grayish-blue);
    }

    li:last-child {
      border-bottom: none;
    }

    .article {
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 7.25rem;

      .headline {
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0;
        padding-bottom: 0.7rem;
      }
      .summary {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: var(--color-neutral-grayish-blue);
      }
    }
  }
}
